# <IfModule mod_rewrite.c>
RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# </IfModule>

# # Set the base URL to the subdirectory
# RewriteBase /case-study/

# # Rule to remove .php extension
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^(.*)$ $1.php [L,QSA]

# # Redirect .php to extension-less URLs
# RewriteCond %{THE_REQUEST} \s/case-study/(.*)\.php [NC]
# RewriteRule ^(.*)\.php$ /case-study/$1 [L,R=301]

# # Exclude /smartWage from global rules
# RewriteRule ^case-study/ - [L]

# Forbidden

RewriteRule ^departments/?$ - [F,L]